<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>369979732545-t77p2u0tfidevo2gn0c6p3vaehv4fghp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.369979732545-t77p2u0tfidevo2gn0c6p3vaehv4fghp</string>
	<key>API_KEY</key>
	<string>AIzaSyBE067UHgpbo1mUAStdyVax2OtVf40fxJY</string>
	<key>GCM_SENDER_ID</key>
	<string>369979732545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>parminder.reveal-yourself</string>
	<key>PROJECT_ID</key>
	<string>reveal-yourself-5cf1f</string>
	<key>STORAGE_BUCKET</key>
	<string>reveal-yourself-5cf1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369979732545:ios:44b613b602029284</string>
	<key>DATABASE_URL</key>
	<string>https://reveal-yourself-5cf1f.firebaseio.com</string>
</dict>
</plist>